body {
  padding: 0px;
  margin: 0px;
}

input {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}
a:visited {
  color: #00ff1f;
}

.header_title {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: -10px;
}

.panel {
  position: absolute;
  padding: 20px;
  background-image: url(../images/screen1.png);
  color: #27ff00;
  border-radius: 8px;
  box-shadow: 13px 11px 10px rgb(0 0 0 / 50%);
  cursor: move;
  font-family: monospace;
  font-size: 15px;
}

.right_panel {
  width: 250px;
  right: 20px;
}

#algorithm_panel {
  right: 20px;
  top: 96%;
}

#instructions_panel {
  top: 96%;
  left: 20px;
  width: 550px;
}

#hide_instructions {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 90%;
  cursor: pointer;
}

#hide_instruction:hover {
  color: #fff;
  text-decoration: underline;
}

.option_header {
  font-size: 80%;
  margin-left: 20px;
}

.option_label {
  cursor: pointer;
}

button {
  border: none;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  font-size: 90%;
  cursor: pointer;
  padding: 2px 8px;
  margin: 0 2%;
  width: 28%;
}

button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.finder_section {
  border: solid 1px #ddd;
  border-radius: 5px;
  margin: 5px;
}

.sub_options {
  padding: 2px;
  font-size: 14px;
  margin: 2px 30px 0;
}

#stats {
  position: fixed;
  bottom: 40px;
  left: 35px;
  color: #0a0;
  font-size: 85%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

a {
  color: #33f;
}

footer {
  color: #333;
  font-size: 70%;
  text-align: center;
  position: fixed;
  width: 200px;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.white {
  color: #fff;
}

.green {
  color: #0d0;
}

.red {
  color: #ff9166;
}

.spinner {
  width: 2em;
}
